body{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../image/fundo.jpeg);
}

/*estilo do botão*/



.neon-bt {

  position: relative;

  display: inline-block;

  padding: 10px 20px;

  color: #f40303;

  font-size: 16px;

  text-decoration: none;

  text-transform: uppercase;

  overflow: hidden;

  transition: 0.2s;

  margin-top: 40px;

  letter-spacing: 4px

}

 

.neon-bt:hover {

  background: #f40303;

  color: #fff;

  border-radius: 5px;

  box-shadow: 0 0 5px #f40303,

              0 0 25px #f40303,

              0 0 50px #f40303,

              0 0 100px #f40303;

}

 

 

/*animação do span para criar linhas*/

 

 

.neon-bt span {

  position: absolute;

  display: block;

}

 

 

/*span 1*/

.neon-bt span:nth-child(1) {

  top: 0;

  left: -100%;

  width: 100%;

  height: 2px;

  background: linear-gradient(90deg, transparent, #f40303);

  animation: btn-anim1 1s linear infinite;

}

 

@keyframes btn-anim1 {

  0% {

    left: -100%;

  }

  50%,100% {

    left: 100%;

  }

}

 

/*span 2*/

.neon-bt span:nth-child(2) {

  top: -100%;

  right: 0;

  width: 2px;

  height: 100%;

  background: linear-gradient(180deg, transparent, #f40303);

  animation: btn-anim2 1s linear infinite;

  animation-delay: .25s

}

 

@keyframes btn-anim2 {

  0% {

    top: -100%;

  }

  50%,100% {

    top: 100%;

  }

}

 

 

/*span 3*/

 

.neon-bt span:nth-child(3) {

  bottom: 0;

  right: -100%;

  width: 100%;

  height: 2px;

  background: linear-gradient(270deg, transparent, #f40303);

  animation: btn-anim3 1s linear infinite;

  animation-delay: .5s

}

 

@keyframes btn-anim3 {

  0% {

    right: -100%;

  }

  50%,100% {

    right: 100%;

  }

}

 

/*span 4*/

 

.neon-bt span:nth-child(4) {

  bottom: -100%;

  left: 0;

  width: 2px;

  height: 100%;

  background: linear-gradient(360deg, transparent, #f40303);

  animation: btn-anim4 1s linear infinite;

  animation-delay: .75s

}

 

@keyframes btn-anim4 {

  0% {

    bottom: -100%;

  }

  50%,100% {

    bottom: 100%;

  }

}



/* botao editar */

.neon-bt2 {

  position: relative;

  display: inline-block;

  padding: 10px 20px;

  color: #03f4e0;

  font-size: 16px;

  text-decoration: none;

  text-transform: uppercase;

  overflow: hidden;

  transition: 0.2s;

  margin-top: 10px;

  letter-spacing: 4px

}

 

.neon-bt2:hover {

  background: #03f4e0;

  color: #fff;

  border-radius: 5px;

  box-shadow: 0 0 5px #03f4e0,

              0 0 25px #03f4e0,

              0 0 50px #03f4e0,

              0 0 100px #03f4e0;

}

 

 

/*animação do span para criar linhas*/

 

 

.neon-bt2 span {

  position: absolute;

  display: block;

}

 

 

/*span 1*/

.neon-bt2 span:nth-child(1) {

  top: 0;

  left: -100%;

  width: 100%;

  height: 2px;

  background: linear-gradient(90deg, transparent, #03f4e0);

  animation: btn-anim1 1s linear infinite;

}

 

@keyframes btn-anim1 {

  0% {

    left: -100%;

  }

  50%,100% {

    left: 100%;

  }

}

 

/*span 2*/

.neon-bt2 span:nth-child(2) {

  top: -100%;

  right: 0;

  width: 2px;

  height: 80%;

  background: linear-gradient(180deg, transparent, #03f4e0);

  animation: btn-anim2 1s linear infinite;

  animation-delay: .25s

}

 

@keyframes btn-anim2 {

  0% {

    top: -100%;

  }

  50%,100% {

    top: 100%;

  }

}

 

 

/*span 3*/

 

.neon-bt2 span:nth-child(3) {

  bottom: 0;

  right: -100%;

  width: 100%;

  height: 1px;

  background: linear-gradient(270deg, transparent, #03f4e0);

  animation: btn-anim3 1s linear infinite;

  animation-delay: .5s

}

 

@keyframes btn-anim3 {

  0% {

    right: -100%;

  }

  50%,100% {

    right: 100%;

  }

}

 

/*span 4*/

 

.neon-bt2 span:nth-child(4) {

  bottom: -100%;

  left: 0;

  width: 2px;

  height: 100%;

  background: linear-gradient(360deg, transparent, #03f4e0);

  animation: btn-anim4 1s linear infinite;

  animation-delay: .75s

}

 

@keyframes btn-anim4 {

  0% {

    bottom: -100%;

  }

  50%,100% {

    bottom: 100%;

  }

}


.tabela{
    color:#fff;
    background-color: rgba(36, 28, 28, 0.719);
    margin-left: 15%;
}


.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../image/fundo.jpeg);
  background-size: cover;
  background-position: center;
}

.logo{
  width: 10%;
  cursor: pointer;
  border-radius: 100px;
  margin-left: 7.5%;
  margin-top:2.5%;
}

.descricao{
  width: 100%;
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  text-align:center;
  color: #fff;
}

.descricao h1{
  font-size: 70px;
  margin-top: 80px;
}

.descricao p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor:pointer;
  position:relative;
  overflow: hidden;
}

span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index:-1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

button:hover{
  border: none;
}

#logo {
width: 10%;
cursor: pointer;
border-radius: 100px;
margin-left: 7.5%;
margin-top: 1%;
margin-bottom: 1%;
}

ul {

list-style: none;
 display: inline-block;
 position: flex;
 width: 50%;
 margin-left: 10%;
}

ul li {
 color: rgb(255, 255, 255);
 margin-left: 10%;
 font-size: 1.8rem;
 display: inline-block;
}


ul li:hover {
 color: rgb(8, 66, 102);
}

.redirecionar{
  color: blue;
  text-shadow: 0 0 1vw blue,
               0 0 2vw blue,
               0 0 4vw blue,
               0 0 8vw blue,
               0 0 16vw blue;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

#botones{
  display: inline-block
}

header{
  background: rgba(0, 0, 0, 0.652);
}

#filtroCnpj{
  margin-top: 5%;
}

label{
  color: #fff
}

#estiloInput{
  background-color: #00000045;
  color: #fff;
}

#estiloSelect{
  background-color: #00000056;
  color:azure
}
.teste {
  margin-left: 30%;
  margin-right: 30%;
}
